/* como introducir los comandos:
id {
	propiedad: valor;
}
*/

body {
	
	
	background-image: url("invierno.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2500px;
	border-style:solid;
	height: 100vh;
}

h1 {
	font-size: 24px;
	font-family: Taviraj;
}

.center-screen {
	text-align: center;
}

.boton1 {
	width: 296px;
	height: 91px;
	font-family: Tauri;
	font-size: 24px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	border: none;
	opacity: 0.5;
	margin-left: ;
    margin-top: 34%;

}

.boton2{
	background:url("gear.png") no-repeat;
	background-size: 50px;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    margin-left: -90%;
    margin-top: -10%;
	

}



